nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(235, 190, 190);
    padding: 10px;
    border: 3px solid rgb(235, 190, 190);
  }
  
/* fonts */
body{
    font-family: 'Oswald', sans-serif;
}


/* Website title styles */
  .website-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
/* Navigation links styles */
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    margin-left: 20px;
  }
  
  .nav-link a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .nav-link a:hover {
    text-decoration: underline;
    color: rgb(228, 179, 179);
  }

  /* body */
  div#container{
    background-color: #f7f7f7;
    padding-bottom: 80vh;
  }

  /* div container */
  #container {
    width: 100%;
    text-align: center;
}

  #form {
    display: inline-block;
    text-align: left;
    width: 50%;
  }

  #form h2 {
    text-align: center;
  }

  #form input,
  #form textarea,
  #form button {
    width: 100%;
    margin-bottom: 10px;
  }

  h2{
    color:rgb(228, 179, 179)
  }

  div#info{
    padding-top: 100px;
  }